.tree {
    list-style: none;
}
.active > ul {
    display: block;
}
.child-item {
    display: none;
}

.tree > li {
    font-size: 15px;
    padding: 10px 0 10px 10px;
}
.tree > li > a {
    color: #0f0f0f;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-tag {
    border-radius: 2px;
    border: 1px solid #e7eaec;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
    display: inline-block;
}
.main-tag {
    width: 80%;
}
.child-tags {
    padding: 2px 8px;
}
.common-tags {
    margin-bottom: 10px;
}