.top-menu > li.active > a {
    color: #117678;
}

.top-menu > li > a {
    color: #89909b;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.mobile-settings-methods {
    left: 0;
    right: 0;
    padding: 10px 0;
    position: fixed;
    display: none;
    top: 0;
    z-index: 3000;
    overflow-y: auto;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.nav-mobile > li.active {
    border-left: 4px solid #19aa8d;
    background: #f1f1f1;
}

.nav-mobile > li.active > a {
    color: #665959;
}
.nav > li.parent > a {
    background: #303c47
}

.nav-mobile > li.parent > a {
    background: #e5eff8
}

.nav-mobile > li > a {
    color: #665959;
}
.select2-container > span.select2-dropdown {
    z-index: 2051;
}
a.button-method-list {
    padding: 9px 10px;
    font-size: 22px;
}
.view-method-row {
    cursor: pointer;
}

/** Search - Header
 ********************** **/
.search-box {
    text-align:center;
    position:absolute;
    padding:0;
    background-color:#fff !important;
    left:0; top:0 !important; right:0; bottom:0;
    width:100%;
    height:100%;
    margin:0 !important;
    z-index:2000;
    border:0;
    display:none;
}
.search-box >form {
    display:block;
    z-index:0;
}
#topNav .search-box >form>input {
    font-size: 20px;
    font-weight: 300;
    background-color:transparent;
    height:inherit;
    position:absolute;
    top:50%; left:0;
    width:90%;
    margin-top:-30px;
    padding-left:40px;
    padding-right:60px;
    border:0;
    box-shadow:none;
}

#topNav .search-box >form>input::-webkit-input-placeholder { 	/* WebKit browsers */
    color: #666;
    text-transform:uppercase;
}

#topNav .search-box >form>input:-moz-placeholder { 				/* Mozilla Firefox 4 to 18 */
    color: #666;
    text-transform:uppercase;
}

#topNav .search-box >form>input::-moz-placeholder { 			/* Mozilla Firefox 19+ */
    color: #666;
    text-transform:uppercase;
}

#topNav .search-box >form>input:-ms-input-placeholder {			/* Internet Explorer 10+ */
    color: #666;
    text-transform:uppercase;
}

#topNav .search-box  #closeSearch {
    position:absolute;
    color:#333;
    background:transparent;
    top:50%;
    right:30px;
    font-size:20px;
    margin-top:-10px;
    z-index:1;
}

/* dark */
#topNav.dark .search-box  {
    background-color:#333 !important;
}
#topNav.dark .search-box >form>input {
    color:#fff;
}
#topNav.dark .search-box >form>input::-webkit-input-placeholder { 	/* WebKit browsers */
    color: #ddd;
    text-transform:uppercase;
}

#topNav.dark .search-box >form>input:-moz-placeholder { 				/* Mozilla Firefox 4 to 18 */
    color: #ddd;
    text-transform:uppercase;
}

#topNav.dark .search-box >form>input::-moz-placeholder { 			/* Mozilla Firefox 19+ */
    color: #ddd;
    text-transform:uppercase;
}

#topNav.dark .search-box >form>input:-ms-input-placeholder {			/* Internet Explorer 10+ */
    color: #ddd;
    text-transform:uppercase;
}

#topNav.dark .search-box  #closeSearch {
    color:#fff;
}

#topNav.translucent #topMain,
#topNav.dark.transparent #topMain {
    background-color:transparent;
}

@media only screen and (max-height: 760px) {
    #topNav .search-box >form>input {
        font-size:20px;
        font-weight:300;
    }
}
/*--------------------------------------------------------------*/

.grecaptcha-badge {
    visibility: hidden;
}

.modal-header {
    padding: 7px 25px;
}
.modal-body {
    padding: 0 15px 15px 10px;
}
.add-select-text {
    font-size: 12px;
    color: #89909b;
}
.add-select-text:hover {
    color: red;
    text-decoration: underline;
}
.select-search {
    color: black;
    background-color: orange;
}
a.search{
    padding: 12px 10px;
    color: #bebebe;
    font-size: 16px;
}
a.search:hover{
    color: #5f5f5f;
}
.float-header-button {
    float: right;
}
@media only screen and (max-width: 768px) {
    .float-header-button {
        float: left;
    }
    .wrapper-content {
        padding: 20px 10px 100px;
    }
}
div.style-h2 {
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}

a.hover-underline {
    color: #0a73bb;
    text-decoration: none;
}
a.hover-underline:hover {
    text-decoration: underline;
    text-decoration-color: #0a73bb;
}
